.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-repeat: repeat;
  background-image: url(../images/wall.png);
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 90px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: 5px solid #ffd700;
}

.panel{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 150px;
  width: 150px;
  border: 1px solid #000;
  background-color: #51d3a7;
}

.enemy {
  background-image: url("../images/linux.png");
  background-size: cover;
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-time h2:nth-child(2), 
.menu-score h2:nth-child(2) {
  margin-top: 1rem;
}
footer {
  margin: auto;
}
footer a {
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid rgb(10, 147, 147);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 900; 
  box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.303),
  inset -6px -20px 10px 10px rgba(0, 0, 0, 0.367);
}
footer a:hover {
  background-color:  rgb(10, 147, 147);
https://dio-js-game.vercel.app/LinuxDetona/index.html}